.formSelectContainer {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.createMoneyContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formSelect {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 295px;
    height: 30px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("https://image.flaticon.com/icons/png/512/60/60995.png");
    background-position-x: 270px;
    background-position-y: center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

.formSelectLabel {
    line-height: 1.7em;
}

.selectOption {
    height: 200px;
}

.formAmountInput {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 295px;
    font: inherit;
    height: 30px;
    border: 2px solid black;
    border-radius: 2px;
}

.createButton {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: calc(1.7em + 8px);
    height: 30px;
    padding: 0;
    width: 300px;
}

.label {
    line-height: 1.7em;
}

.debitList {
    padding: 0;
    margin: 0;
}
